*{
    font-family: Source Sans Pro;
}
label {
    font-weight: bold;
}
footer, nav{
    background-color: #ECF0FF;
    color: #292929;
}
footer, a{
    color: #292929;
}
footer, i{
    color:#FF587C;
}
footer, i:hover{
    color:#ff2f5c;
}
footer, a:hover{
    color: #FF587C;
}
.dropdown-item:hover{
    background-color: #7556E3;
    color:#ECF0FF;
}
.btn-azul{
    background-color: #395DEB;
    color: white;
}
.btn-azul:hover{
    background-color: #224bec;
    border-color: #224bec;
    color: white;
}
.btn-azul:focus{
    background-color: #224bec;
    border-color: #224bec;
    color: white;
    box-shadow: 0px 0px 0px 4px #7691ff;
}
.btn-gris{
    background-color: #AEAEAE;
    color:white;
}
.btn-gris:hover{
    background-color: #7b7b7b;
    border-color: #7b7b7b;
    color: white;
}
.btn-gris:focus{
    background-color: #7b7b7b;
    border-color: #7b7b7b;
    color: white;
    box-shadow: 0px 0px 0px 4px #afafaf;
}
.btn-rosa{
    background-color: #FF587C;
    color: #292929;
    color: white;
}
.btn-rosa:hover{
    background-color: #ff2f5c;
    border-color: #ff2f5c;
    color: white;
}
.btn-rosa:focus{
    background-color: #ff2f5c;
    border-color: #ff2f5c;
    color: white;
    box-shadow: 0px 0px 0px 4px #fe91a8;

}
.btn-violeta{
    background-color: #7556E3;
    color:white;
}
.btn-violeta:hover{
    background-color: #573fb0;
    border-color: #573fb0;
    color: white;
}
.btn-violeta:focus{
    background-color: #573fb0;
    border-color: #573fb0;
    color: white;
    box-shadow: 0px 0px 0px 4px #8a6df5;
}
.btn-celeste{
    background-color: #788FEB;
    color:white;
}
.btn-celeste:hover{
    background-color: #5270e7;
    border-color: #5270e7;
    color: white;
}
.btn-celeste:focus{
    background-color: #5270e7;
    border-color: #5270e7;
    color: white;
    box-shadow: 0px 0px 0px 4px #aab9f5;
}
.lottie-footer-logo{
    width: 150px; 
    height: 150px;
    background-color: transparent;
}
.lottie-nav{
    width: 80px; 
    height: 80px;
}
.lottie-icono{
    width: 50px; 
    height: 50px;
}

.lottie-error{
    width: 400px;
    height: 400px;
    justify-content: center;
}

.card{
    border: none;
}

.truncate-text{
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tituloNosotros{
    color: #FF587C;
}

.avatar {
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
      transition: 2s;
  }
  .card:hover img
  {
      transform: scale(1.1);
  }
  .card ul
  {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      list-style: none;
      background: rgba(255,255,255,0);
  }
  
  .card ul li
  {
      background: #ECF0FF;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      transform: perspective(800px) rotateY(90deg);
      transition: .5s;
      transform-origin: left;
  }
  
  .card:hover ul li
  {
      transform: perspective(800px) rotateY(0deg);
  }
  
  .card:hover ul li:nth-child(1)
  {
      transition-delay: .2s;
  }
  
  .card:hover ul li:nth-child(2)
  {
      transition-delay: .6s;
  }
  
  .card:hover ul li:nth-child(3)
  {
      transition-delay: .8s;
  }
  
  .card:hover ul li:nth-child(4)
  {
      transition-delay: 1s;
  }
  
  .card ul li a
  {
      color: #7556E3;
      background: rgba(255,255,255,0);
  }
  
  .card ul li i
  {
      color: #7556E3;
      background: rgba(255,255,255,0);
  }
  
  .card ul li i:hover
  {
      color: #fff;
      background: rgba(255,255,255,0);
  }

  @media all and (max-width: 576px){
    .divAvatar{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .divImagen{
        display: flex;
        justify-content: center;
    }
  }