.colorBotonVerMas{
    background-color: #202249;
    color: #ECF0FF;
}

.colorBotonVerMas:hover{
   background-color:#a099c8 ;
   color: #ECF0FF;
   
}


.colorBotonConexionTotal{
    background-color: #788FEB;
}

.tipografiaGrilla{
    font-family: Source Sans Pro;
}