footer{
    background-color: #ECF0FF;
    color: #292929;
    font-family: Source Sans Pro;

}
footer, a{
    color: #292929;
}
footer, i{
    color:#FF587C;
}
footer, a:hover{
    color: #FF587C;
}
